name: $(GitVersion.AssemblySemVer)

trigger:
- master

resources:
- repo: self

stages:
- stage: Build
  displayName: Build image
  jobs:  
  - job: Build
    displayName: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: gitversion/setup@0
      displayName: Setup GitVersion
      inputs:
        versionSpec: '5.x'
    - task: gitversion/execute@0
      displayName: Determine Version
      inputs:
        updateAssemblyInfo: true
    - task: Docker@2
      displayName: Login to Dockerhub
      inputs:
        command: login
        containerRegistry: Dockerhub
    - task: Docker@2
      displayName: Build the image
      inputs:
        command: build
        dockerfile: '$(Build.SourcesDirectory)/NewsletterCurator.Web/Dockerfile'
        repository: 'cdemi/NewsletterCurator'
        buildContext: '$(Build.SourcesDirectory)'
        tags: |
            latest
            $(GitVersion.AssemblySemVer)
            $(GitVersion.AssemblySemVer)-linux
            latest-linux
    - task: Docker@2
      displayName: Push a latest image
      condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
      inputs:
        command: push
        repository: 'cdemi/NewsletterCurator'
        tags: |
            latest
            $(GitVersion.AssemblySemVer)
            $(GitVersion.AssemblySemVer)-linux
            latest-linux
    - task: Docker@2
      displayName: Push an image
      condition: and(succeeded(), ne(variables['Build.SourceBranch'], 'refs/heads/master'))
      inputs:
        command: push
        repository: 'cdemi/NewsletterCurator'
        tags: |
            $(GitVersion.AssemblySemVer)
            $(GitVersion.AssemblySemVer)-linux
