@model bool
@{
    ViewData["Title"] = "Unsubscribe 😭";
}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Unsubscribe 😭</h1>
        <p class="lead">Write your email adress to unsubscribe from cdemi's Curated Newsletter 😢</p>
        <hr class="my-4">
        @if (Model)
        {
            <p>You have been successfully unsubscribed! 👋</p>
        }
        else
        {
            <form asp-action="Unsubscribe" method="post">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="sjobs@apple.com" autofocus autocomplete="on" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <button type="submit" class="btn btn-primary">Unsubscribe</button>
            </form>
        }
    </div>
</div>
