@{
    ViewData["Title"] = "Subscribe";
}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome</h1>
        <p class="lead">You're now subscribed to cdemi's Curated Newsletters!</p>
    </div>
</div>
