@model List<Category>

<div class="container">
    <h1>Newsletter Curator</h1>
    <ul>
        @foreach (var category in Model)
        {
            <li>@category.ID - @category.Name</li>
        }
    </ul>
</div>
