@model List<Category>

<div class="container">
    <h1>Newsletter Curator</h1>
    <ul>
        @foreach (var category in Model)
        {
            <li>@category.ID - @category.Name</li>
        }
    </ul>

    <a href="javascript: document.location='@Url.AbsoluteAction("Add", "Newsitem")?url=' + encodeURI(document.location)">Add to Newsletter</a>
</div>
