li.media .media-img {
    min-width: 100%;
    height: 100px;
    background-size: cover;
    background-position: center;
}

li.media:not(:last-of-type) {
    margin-bottom: 14px;
}

li.media {
    display: block;
    padding: 6px;
    cursor: pointer;
    border: 2px solid transparent;
}

    li.media.broken {
        display: none;
    }

li.media.small {
    background: repeating-linear-gradient(45deg, gray, gray 4px, transparent 4px, transparent 20px);
}

li.media.selected {
    border: 2px solid blue;
}

.img-preview {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

button.select-all::before {
    content: "Select All";
}

button.deselect-all::before {
    content: "Deselect All";
}
